.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__vH9S {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  padding: 0px;
}
.freeBox__tiRkW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox__tiRkW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__tiRkW > :global(.__wab_flex-container) > *,
.freeBox__tiRkW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tiRkW > :global(.__wab_flex-container) > picture > img,
.freeBox__tiRkW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__yBfk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox___3Gn5L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/new_eat_landing/images/image11.png") top 0% left 50% / contain no-repeat,
    var(--token-YXn04mOpK3v3);
  overflow: hidden;
  align-self: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 0;
  padding: 113px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Gn5L {
    padding-top: 105px;
  }
}
.freeBox___1PhCg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox__iLncT {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 650px;
  min-width: 0;
  padding: 4px 8px 8px;
}
.freeBox__iLncT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__iLncT > :global(.__wab_flex-container) > *,
.freeBox__iLncT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iLncT > :global(.__wab_flex-container) > picture > img,
.freeBox__iLncT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iLncT {
    padding-top: 0px;
  }
}
.freeBox___0XCus {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 471px;
  text-align: center;
  min-width: 0;
  padding: 1px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    width: auto;
    font-size: 40px;
    padding: 0px;
  }
}
.freeBox__pmCgP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__gOqaX {
  width: 100%;
  height: auto;
  max-width: 530px;
  padding-bottom: 0px;
  color: var(--token-A67rLw1hFjZB);
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gOqaX {
    text-align: left;
    padding-bottom: 13px;
    padding-top: 5px;
  }
}
.button__vuVnm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jtOcd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vBUqo {
  text-transform: uppercase;
}
.svg__qjF0V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.img__unYaV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 900px;
  width: 100%;
  object-position: 50% 0%;
  min-width: 0;
}
.img__unYaV > picture > img {
  object-fit: cover;
  object-position: 50% 0%;
}
.freeBox__qg2BK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-LCs4TYjYc7M4);
}
.freeBox__qg2BK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qg2BK > :global(.__wab_flex-container) > *,
.freeBox__qg2BK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qg2BK > :global(.__wab_flex-container) > picture > img,
.freeBox__qg2BK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.freeBox__bh0Ce {
  position: relative;
  object-fit: cover;
  max-width: none;
  background: url("/plasmic/new_eat_landing/images/ecaa1A9F59E04714Aca4D68090E95Ef2FuelBgPngpng.png") top 50% left 50% / cover no-repeat;
  width: 107.5%;
}
.freeBox__rf3D {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  padding: 8px;
}
.freeBox__kzWds {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f1d1e4;
  min-width: 0;
  padding: 100px 8px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 471px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    width: auto;
    font-size: 40px;
    padding: 0px;
  }
}
.text__erJxD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-A67rLw1hFjZB);
  font-size: 20px;
  margin-top: 18px;
  min-width: 0;
}
.freeBox___5RYbb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #feb392;
  min-width: 0;
  padding: 0px;
}
.columns {
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  --plsmc-rc-col-gap: 0px;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__i5ZBp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: var(--token-YXn04mOpK3v3);
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__b8H3U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__nOWF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__nOWF > picture > img {
  object-fit: cover;
}
.freeBox__b2Vjt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__gsWb9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__gsWb9 {
    text-align: center;
  }
}
.text___71Wdf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___71Wdf {
    text-align: center;
  }
}
.button__ot2Uh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__eQEmS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2Xjw {
  text-transform: uppercase;
}
.svg__lpzhh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___1NAn9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: #baecff;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox___9ZiUm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__b77Si {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__b77Si > picture > img {
  object-fit: cover;
}
.freeBox__r7BZj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__yuZoU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__yuZoU {
    text-align: center;
  }
}
.text___4Qxm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4Qxm {
    text-align: center;
  }
}
.button__qenJz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__c9QuC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vKFo0 {
  text-transform: uppercase;
}
.svg__hXrWp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__z5MEg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: #c9f2c4;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox___2PmK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__blMJz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__blMJz > picture > img {
  object-fit: cover;
}
.freeBox__ulr0X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__a82D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__a82D {
    text-align: center;
  }
}
.text__zyAEy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zyAEy {
    text-align: center;
  }
}
.button___2IorT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___24FT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wQyw9 {
  text-transform: uppercase;
}
.svg__wFn7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__ejcjr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: #fdcfbf;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__aKj0H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__h2EVn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 158px;
}
.img__h2EVn > picture > img {
  object-fit: cover;
}
.freeBox__u3O8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__lcSr3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__lcSr3 {
    text-align: center;
  }
}
.text___1LOf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1LOf {
    text-align: center;
  }
}
.button__sIlU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fejEx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zrDp {
  text-transform: uppercase;
}
.svg__pfKjc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__dPubz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bJZg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #b367bf;
  width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 103px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bJZg {
    width: 100%;
    min-width: 0;
    padding: 61px 32px 64px;
  }
}
.freeBox__uza5Y {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1080px;
}
.freeBox__uza5Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__uza5Y > :global(.__wab_flex-container) > *,
.freeBox__uza5Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uza5Y > :global(.__wab_flex-container) > picture > img,
.freeBox__uza5Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uza5Y {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uza5Y > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uza5Y > :global(.__wab_flex-container) > *,
  .freeBox__uza5Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uza5Y > :global(.__wab_flex-container) > picture > img,
  .freeBox__uza5Y
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__lJby5 {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 0px;
  padding: 24px;
}
.freeBox__lJby5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lJby5 > :global(.__wab_flex-container) > *,
.freeBox__lJby5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lJby5 > :global(.__wab_flex-container) > picture > img,
.freeBox__lJby5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__bj9Up {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__bj9Up > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bj9Up > :global(.__wab_flex-container) > *,
.freeBox__bj9Up > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bj9Up > :global(.__wab_flex-container) > picture > img,
.freeBox__bj9Up
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__lG6XG {
  color: var(--token-nyOdoDBj80R_);
  font-style: italic;
}
.freeBox__x5B8B {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__x5B8B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__x5B8B > :global(.__wab_flex-container) > *,
.freeBox__x5B8B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x5B8B > :global(.__wab_flex-container) > picture > img,
.freeBox__x5B8B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__wdzoz {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__zJhL {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__mtlAc {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__ydjgw {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__nOz8M {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.text__fSK {
  color: var(--token-nyOdoDBj80R_);
  font-weight: 700;
}
.freeBox__ipGmj {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 0px;
  padding: 24px;
}
.freeBox__ipGmj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ipGmj > :global(.__wab_flex-container) > *,
.freeBox__ipGmj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ipGmj > :global(.__wab_flex-container) > picture > img,
.freeBox__ipGmj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dur1Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__dur1Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dur1Z > :global(.__wab_flex-container) > *,
.freeBox__dur1Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dur1Z > :global(.__wab_flex-container) > picture > img,
.freeBox__dur1Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__gTvt0 {
  color: var(--token-nyOdoDBj80R_);
  font-style: italic;
}
.freeBox__u4Fny {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__u4Fny > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__u4Fny > :global(.__wab_flex-container) > *,
.freeBox__u4Fny > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u4Fny > :global(.__wab_flex-container) > picture > img,
.freeBox__u4Fny
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__bLt23 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__qtJvY {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg___7MyTj {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__nDfAd {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.svg__ytUeb {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.text__m0NXs {
  color: var(--token-nyOdoDBj80R_);
  font-weight: 700;
}
.footer:global(.__wab_instance) {
  position: relative;
}
